## Import Libraries and Files

In [72]:
# Import Libraries 
import pandas as pd
import numpy as np 
import os 
import requests
import json
from datetime import datetime
from dotenv import load_dotenv

In [74]:
# Import bikesharing data
folderpath = r'../Data/Original'

In [76]:
filepath = [os.path.join(folderpath, name) 
            for name in os.listdir(folderpath)]

In [78]:
# Concatenate Files
bike = pd.concat((pd.read_csv(f) for f in filepath), ignore_index=True)

In [80]:
# Import weather data
load_dotenv() # Load the .env file

True

In [82]:
token = os.getenv('APItoken')

In [84]:
# Get Data
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00014732&startdate=2022-01-01&enddate=2022-12-31', headers={'token':token})

In [86]:
# Load the API response as Json
d = json.loads(r.text)

## Data Wrangling

In [88]:
# Get all items that correspond to TAVG
avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']

In [90]:
# Get only all average temperature readings
data_temp = [item['date'] for item in avg_temps]

In [92]:
# Get the temperature from all average temperature readings
temps = [item['value'] for item in avg_temps]

In [94]:
# Pit lists in Dataframe
df_temp = pd.DataFrame()

In [96]:
# Convert date format
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in data_temp]

In [100]:
# Convert temperature format
df_temp['avg_temp'] = [float(v)/10.0 for v in temps]

In [102]:
## Convert bike format to datetime
bike['started_at'] = pd.to_datetime(bike['started_at'], dayfirst=True)
bike['date'] = pd.to_datetime(bike['started_at'], format='%Y-%m-%d').dt.date

In [104]:
# Match date format
bike['date'] = pd.to_datetime(bike['started_at'], format='%Y-%m-%d').dt.date
df_temp['date'] = pd.to_datetime(df_temp['date'], format='%Y-%m-%d').dt.date

## Merge Datasets

In [106]:
# Merge datasets
df_merged = bike.merge(df_temp, how = 'left', on = 'date', indicator = True)

In [108]:
# Check Merge
df_merged['_merge'].value_counts(dropna = False)

both          895485
left_only          0
right_only         0
Name: _merge, dtype: int64

In [110]:
# Check merged df
df_merged.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avg_temp,_merge
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18,13.9,both
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04,-1.9,both
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3,both
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3,both
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11,7.2,both

In [112]:
df_merged.shape

(895485, 16)

## Data Cleaning

In [119]:
## Summary Statistics
df_merged.describe()

,start_lat,start_lng,end_lat,end_lng,avg_temp
count,895485.000000,895485.000000,893515.000000,893515.000000,895485.000000
mean,40.731927,-74.040461,40.731868,-74.040205,17.497078
std,0.012095,0.012219,0.012222,0.012178,8.498326
min,40.706495,-74.088964,40.640000,-74.140000,-11.700000
25%,40.721124,-74.046305,40.721124,-74.045953,11.600000
50%,40.733670,-74.037977,40.733670,-74.037977,19.200000
75%,40.740973,-74.030970,40.740973,-74.030970,24.300000
max,40.754992,-74.023490,40.872412,-73.888271,31.300000

In [115]:
# Look for Duplicates
dup = df_merged.duplicated()
dup.sum()

0

In [117]:
# Look for Missing Values
df_merged.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name      10
start_station_id        10
end_station_name      3204
end_station_id        3204
start_lat                0
start_lng                0
end_lat               1970
end_lng               1970
member_casual            0
date                     0
avg_temp                 0
_merge                   0
dtype: int64

In [121]:
# Rename cols
df_merged.rename(columns={'rideable_type':'bike_type', 'started_at':'start_time', 'ended_at':'end_time', 'start_station_name':'start_station', 'end_station_name':'end_station', 'member_casual':'membership'}, inplace=True)

In [ ]:
# Drop flag col

In [123]:
df_merged.drop(columns='_merge', inplace=True)

## Save File

In [127]:
df_merged.to_pickle(r'../Data/Prepared/bike_final.pkl')